/target

# Environment files
.env
.env.*

# BGPalerter related files
bgpalerter/
prefixes.yml

# Web UI
web-ui/node_modules
web-ui/dist

# VS Code
.vscode/
*.code-workspace
.vscode-test/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
